{
    "prefix": "",

    "title": "{{ title }}",
    "author": "{{ user.author }}",
    "email": "{{ user.email }}",

    "published": "{{ year }}",

    "links": [
        {
            "name": "小説家になろう",
            "url": "https://syosetu.com/"
        },
        {
            "name": "カクヨム",
            "url": "https://kakuyomu.jp/"
        },
        {
            "name": "Twitter",
            "url": "https://twitter.com/"
        }
    ]
}
