
<!DOCTYPE html>
<html lang="ja-JP">
    <head>
        {% include ".template/header.html" %}

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/js/uikit-icons.min.js"></script>

        <script type="text/javascript">
            function start() {
                const addButton = document.querySelector('#add');

                addButton.addEventListener('click', (e) => {
                    UIkit.modal.prompt(
                        '新しいリポジトリを作成：',
                        'repo-' + Date.now().toString(36)
                    )
                    .then((data) => {
                        if (data.length > 0) {
                            location.href = location.origin + '/init/?repo=' + data;
                        } else {
                            throw new Error('write title');
                        }
                    })
                    .catch((error) => {
                        console.error(error);
                    });
                })
            }
            document.addEventListener('DOMContentLoaded', start);
        </script>

    </head>
    <body>
        <nav id="navigation-bar" class="uk-background-muted version-header">
            <div class="uk-container uk-container-expand">
                <div uk-navbar="" class="uk-navbar uk-padding-small uk-padding-remove-horizontal">
                    <div class="uk-navbar-left">
                        <span class="material-symbols-outlined" style="vertical-align: middle;">auto_stories</span>
                        <span class="uk-text-lead" style="vertical-align: middle;">Novel Site Generator</span>
                    </div>
                    <div class="uk-navbar-right">
                        <div class="uk-flex uk-flex-column">
                            <a href="#" id="add" class="uk-icon-link material-symbols-outlined uk-text-center" style="font-size: 2rem;">
                                create_new_folder
                            </a>
                            <span class="uk-text-meta uk-text-center" style="font-size: 0.5rem;">追加</span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="uk-padding uk-padding-remove-bottom">
            <dl class="uk-description-list">
                <dt>
                    <span class="material-symbols-outlined" style="vertical-align: middle;">folder_open</span>
                    <span class="" style="vertical-align: middle; padding-left: 1rem;">novel data home</span>
                </dt>
                <dd>
                    <span class="" style="vertical-align: middle; padding-left: 4rem;">{{ repo_home }}</span>
                </dd>
            </dl>

        </div>

        <div class="uk-padding">
            <ul class="uk-list uk-list-divider" style="padding: 0 5rem;">
                {% for item in repos %}
                <li>
                    <span class="material-symbols-outlined" style="vertical-align: middle;">folder</span>
                    <a href="/init/?repo={{ item.name }}" class="uk-link-text" style="vertical-align: middle; padding-left: 1rem;">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>


    </body>
</html>
